<div class="topMenu menu">
    <dx-toolbar [items]="toolbarLinks">
        <div *dxTemplate="let itemData of 'menuItem'">
            <a [routerLink]="itemData.path" routerLinkActive="active" class="nav-link">{{itemData.title}}</a>
        </div>
        <div *dxTemplate="let itemData of 'item'">
            <a routerLink="/" class="nav-brand">{{itemData.title}}</a>
        </div>
    </dx-toolbar>
</div>
<div class="leftBar menu">
    <dx-list [items]="navigationMenu" [grouped]="true" [collapsibleGroups]="false" height="100%" width="100%" [focusStateEnabled]="false" [hoverStateEnabled]="false">
        <div *dxTemplate="let itemData of 'item'">
            <a [routerLink]="itemData.path" routerLinkActive="active" class="nav-link">{{itemData.title}}</a>
        </div>
        <div *dxTemplate="let groupData of 'group'">
            <a routerLink="/" class="nav-brand">{{groupData.key}}</a>
        </div>
    </dx-list>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>